.class {
  border-radius: 0.5rem;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 30rem;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.class--compact {
  background-color: var(--element-background);
  flex-direction: row;
  justify-content: space-between;
}

.class__details {
  display: flex;
  gap: 1rem;
}

.class__time {
  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  min-width: fit-content;
}

.class__course {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 600;
}

.class__details-column {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.class__location {
  color: var(--text);
  flex-grow: 1;
  font-size: 0.875rem;
  font-weight: 200;
  height: 1.25rem;
}

.class__status {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
  height: 1.25rem;
}

.class__status--checked-in {
  color: var(--status-green);
  display: flex;
}

.class__status-icon {
  margin-right: 0.25rem;
  padding-top: 0.1rem;
}

.class__action {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}