.button {
  border: 1px solid var(--blue);
  border-radius: 0.5rem;
  color: var(--blue);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  max-width: 30rem;
  padding: 0.75rem 1rem;
  width: 100%;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.button:active {
  background: light-dark(#edf4fc, #0f0f0f);
  border-color: light-dark(#0056b3, #edf4fc);
  color: light-dark(#0056b3, #edf4fc);
}

.button--primary {
  background: var(--blue);
  color: var(--app-background);
}

.button--primary:active {
  background: light-dark(#edf4fc, #0f0f0f);
  border-color: light-dark(#0056b3, #edf4fc);
  color: light-dark(#0056b3, #edf4fc);
}

.button--icon {
  align-items: center;
  background: var(--blue-stable);
  border: none;
  border-radius: 1rem;
  color: white;
  display: flex;
  font-size: 2rem;
  height: 3.75rem;
  justify-content: center;
  padding: 0;
  width: 3.75rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.button--icon:active {
  background: #0056b3;
  color: white;
}

.button--disabled {
  cursor: default;
  opacity: 0.4;
}

.button--trash {
  border-color: var(--red);
  color: var(--red);
  font-size: 0.875rem;
}

.button--trash:active {
  background: rgba(255, 0, 0, 0.1);
  border-color: var(--red);
  color: var(--red);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: light-dark(#edf4fc, #0f0f0f);
    border-color: light-dark(#0056b3, #edf4fc);
    color: light-dark(#0056b3, #edf4fc);
  }

  .button--primary:hover {
    background: light-dark(#0056b3, #3a629b);
    border-color: light-dark(#0056b3, #3a629b);
    color: light-dark(#fff, #edf4fc);
  }

  .button--icon:hover {
    background: #0056b3;
    color: white;
  }

  .button--disabled:hover {
    background: none;
    border-color: var(--blue);
    color: var(--blue);
    cursor: default;
  }

  .button--trash:hover {
    background: rgba(255, 0, 0, 0.1);
    border-color: var(--red);
    color: var(--red);
  }
}
