.button {
  border: 1px solid var(--blue);
  border-radius: 0.5rem;
  color: var(--blue);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  max-width: 30rem;
  padding: 0.75rem 1rem;
  width: 100%;
}

.button:focus {
  background: var(--element-background);
}

.button:hover,
.button:focus-visible {
  background: light-dark(#edf4fc, #0f0f0f);
  border-color: light-dark(#0056b3, #edf4fc);
  color: light-dark(#0056b3, #edf4fc);
}

.button--primary {
  background: var(--blue);
  color: var(--app-background);
}

.button--primary:focus {
  background: var(--blue);
}

.button--primary:hover,
.button--primary:focus-visible {
  background: #0056b3;
  border-color: #0056b3;
  color: white;
}

.button--icon {
  align-items: center;
  background: var(--blue-stable);
  border: none;
  border-radius: 1rem;
  color: white;
  display: flex;
  font-size: 2rem;
  height: 3.75rem;
  justify-content: center;
  padding: 0;
  width: 3.75rem;
}

.button--icon:hover,
.button--icon:focus-visible {
  background: #0056b3;
  color: white;
}

.button--disabled {
  cursor: default;
  opacity: 0.4;
}

.button--disabled:hover,
.button--disabled:focus-visible {
  background: none;
  border-color: var(--blue);
  color: var(--blue);
  cursor: default;
}

.button--trash {
  border-color: var(--red);
  color: var(--red);
  font-size: 0.875rem;
}

.button--trash:hover,
.button--trash:focus-visible {
  background: rgba(255,0,0,0.1);
  border-color: var(--red);
  color: var(--red);
}
