.modal__overlay {
  background-color: var(--green);
  mix-blend-mode: multiply;
  inset: 0;
  position: fixed;
  z-index: 3;
}

.modal {
  inset: 0;
  position: fixed;
  z-index: 4;
}

.modal__button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  z-index: 5;
}

.modal__content {
  background-color: var(--app-background);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  left: 50%;
  max-width: 40rem;
  padding: 1rem 0;
  position: absolute;
  top: 25%;
  transform: translateX(-50%);
  height: 75%;
  width: 100%;
  z-index: 1;
}

.modal__icon {
  font-size: 1.625rem;
  position: absolute;
  top: 1rem;
  background-color: var(--app-background);
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.modal__icon--close {
  left: 0.75rem;
  padding: 0.25rem;
}

.modal__icon--share {
  right: 0.75rem;
}

.modal__details {
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.modal__name-id {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.modal__checkin-time {
  color: var(--time-green);
  font-size: 1.0625rem;
  font-weight: 500;
  font-variant-numeric: tabular-nums;
}

.modal__info-list {
  overflow: hidden;
  width: 100%;
}

.modal__info-row {
  align-items: center;
  border-bottom: 1px solid var(--grey);
  display: grid;
  gap: 0.75rem;
  grid-template-columns: auto 1fr auto;
  padding: 1rem;
}

.modal__info-icon {
  color: var(--bluish-grey);
  font-size: 1.25rem;
}

.modal__info-icon--activity {
  transform: rotate(-12deg);
}

.modal__info-icon--category {
  transform: rotate(90deg);
}

.modal__info-label {
  color: var(--text);
  font-weight: 300;
}

.modal__info-value {
  color: var(--bluish-text);
  font-weight: 300;
  text-align: right;
  font-size: 1.125rem;
}
