.classes__page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow-y: auto;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.classes__header {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  width: 100%;
}

.classes__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.classes__list-divider {
  background: var(--grey);
  height: 1px;
  max-width: 30rem;
  position: relative;
  width: 100%;
}
