
:root {
  --green: light-dark(#008462, #228769);
  --blue-stable:#2d71cd;
  --status-green: light-dark(#2cb584, #00c08e);
  --time-green: light-dark(#15664e, #b9dcd2);
  --blue: light-dark(var(--blue-stable), #a0d3ff);
  --red: #e25061;
  --bluish-grey: light-dark(#8c9bb0, #a3afc0);
  --bluish-text: light-dark(#566781, #cad1db);
  --grey: light-dark(#eaecf0, #3b4654);
  --text: light-dark(#000, #fff);
  --app-background: light-dark(#fff, #191e24);
  --map-background: light-dark(#ebf2fc, #ebf2fc);
  --element-background: light-dark(#fff, #2e3742);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
}

html {
  color-scheme: light dark;
}

body {
  background-color: var(--element-background);
  display: flex;
  flex-direction: column;
  font-family: 'Hanken Grotesk', Arial, Helvetica, sans-serif;
  justify-content: space-between;
}

#root {
  background-color: var(--app-background);
  height: 100dvh;
}
