.modal-profile-picture__wrapper {
  align-self: center;
  justify-self: center;
  margin-bottom: -18cqi;
  position: relative;
  transform: translate(0, -60%);
  width: max-content;
}

.modal-profile-picture {
  container-type: inline-size;
  height: clamp(6rem, 40vw, 15rem);
  object-fit: cover;
  position: relative;
  width: clamp(6rem, 40vw, 15rem);
  z-index: 1;
}

.modal-profile-picture__border-circle {
  background-color: var(--green);
  border-radius: 50%;
  height: calc(clamp(6rem, 40vw, 15rem) - 2cqi);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(clamp(6rem, 40vw, 15rem) - 2cqi);
  z-index: 0;
}

.modal-profile-picture__circle-dashed,
.modal-profile-picture__circle-animated {
  height: clamp(6rem, 40vw, 15rem);
  position: absolute;
  transform: translate(0, -100%) rotate(2deg);
  width: clamp(6rem, 40vw, 15rem);
  z-index: -1;
}

.modal-profile-picture__circle-animated {
  animation: spin 45s linear infinite;
}

@keyframes spin {
  100% {
    transform: translate(0, -100%) rotate(360deg);
  }
}
